:root {
    --color1: rgb(40, 40, 40);
    --color2: rgb(200, 200, 200);
    --font1-color: rgb(255, 255, 255);
    --font2-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color2);
    color: var(--font2-color);
}

header img {
    width: 100px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    margin: 0;
    align-self: self-end;
}

.navigation,
.filter {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--font2-color);
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--font1-color);
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

body {
    font-size: 16px;
    font-family: Roboto, helvetica, sans-serif;
    background-color: var(--color2);
    /* margin: 1rem auto; */
    /* max-width: 400px; */
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.mainContent {
    text-align: center;
}

.hero {
    position: relative;
    margin: 1rem;
    display: inline-block;

}

.hero figure {
    width: auto;
}

.heroBox {
    border: 2px solid var(--font2-color);
    border-radius: 10px;
    /* position: absolute; */
}

.hero .box1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.hero .box2 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: var(--font2-color);
}

.hero .box3 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: var(--color2);
    padding: 0.5rem;
}

.hero .box3 img {
    width: 2rem;
}

.heroBox h2,
.heroBox p {
    padding: 0 0.5rem;
}

.heroBox h2 {
    padding-top: 0.5rem;
}

.heroBox p {
    padding-bottom: 0.5rem;
}



.sidebar {
    text-align: center;
    margin: 1rem;
}

#recentlyViewed figure {
    padding: 1rem;
}

#recentlyViewed figure img {
    max-width: 200px;
}

footer {
    /* grid-column: 1/end; */
    text-align: center;
    padding: 1rem;
    background-color: var(--color1);
    color: var(--font1-color);
}