* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, helvetica, sans-serif;
    margin: 1rem auto;
    max-width: 400px;
}


header,
footer {
    text-align: center;
    background-color: rgb(43, 0, 71);
    color: rgb(255, 255, 255);
    padding: 1rem;
}

h1 {
    padding: 0rem;
    margin: 0;
}

form {
    margin: 1rem auto;
    background-color: rgb(218, 199, 231);
    padding: 1rem;
}

fieldset {
    border: none;
    padding: 0;
    margin-top: 1rem;
}

/* label {
    display: block;
} */

.productName {
    margin-top: 0;
    padding-top: 0;
}

.starRating {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    padding: 0;
}

.starRating label {
    display: block;
    /* padding: 0.5rem; */
    text-align: center;
}

.starRating label input {
    margin: 0;
}

.checkboxes {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkboxes label {
    display: flex;
    align-items: center;
    width: auto;
    gap: 0.5rem;
    white-space: nowrap;
    padding: 0.2rem 0.2rem 0.2rem 0;
}

.checkboxes label input {
    margin: 0;
}


input,
select {
    display: block;
    padding: .75rem;
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 6rem;
}

.optional {
    color: rgb(0, 0, 255);
    font-size: .8rem;
}

form input[type="submit"] {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin: 0;
}


@media screen and (min-width: 700px) {
    body {
        font-size: 1.5rem;
        max-width: 1000px
    }

    .starRating {
        display: flex;
        justify-content: space-evenly;
        max-width: 100%;
    }

    fieldset {
        margin-top: 2rem;
    }

    .productName select {
        font-size: 1.2rem;
    }

    .optional {
        font-size: 1rem;
    }

    form input[type="date"] {
        font-size: 1.3rem;
    }

    form input[type="submit"] {
        font-size: 2.5rem;
    }

    textarea {
        width: 100%;
        min-height: 10rem;
    }
}